{% extends "base.html" %}

{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-90">
        <div class="col-10 mx-auto my-auto welcome-text-container">
            <h1 class="welcome-text text-center display-4 logo-font lexend my-4">
                Breathing new life into old jeans
            </h1 class="text-center">
            <div class="shop-btn">
            <h4 class="lexend my-4">
                <a href="{% url 'products' %}" class="text-uppercase py-1 px-3 text-white">Shop all Denim</a>
            </h4>
        </div>
        </div>
    </div>
    
</div>
{% endblock %}