{% extends "base.html" %}

{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-8 mx-auto my-auto">
            <h1 class="welcome-text text-center display-4 logo-font text-black">
                Breathe new life into your old jeans
            </h1>
            <div class="">
                <h4>
                    <a href="{% url 'products' %}" class="btn btn-lg text-center rounded-0 text-uppercase">Shop Custom Denim</a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}