{% extends 'base.html' %}
{% block content %}
<!-- CUSTOM 500 ERROR HANDLER PAGE -->
<div class="overlay"></div>
<div class="header-container">
    <div class="d-flex align-items-center h-100">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 offset-sm-2 text-center">
                    <h1 class="error-number barrio-regular">500</h1>
                    <h2>Server error!</h2>
                    <h3 class="my-4">
                        Oops something went wrong on our end, please try again
                        or contact us if the error persists.
                    </h3>
                    <p class="mb-4">Click the button below to return home.</p>
                    <a class="btn btn-black" href="{% url 'home' %}">
                        Go Home
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
