{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- BACKGROUND IMAGE -->
<div class="about-background"></div>
<div class="container my-5">
    <div class="row header-container mb-5 lexend">
        <!--Title-->
        <div class="col-xs-12 col-md-8 text-center mx-auto p-3 text-white about-container">
            <h2>About us</h2>
            <p>
                Here at The Denim Whisperer we are a small independent company committed to big change in the fashion industry! Did you know it can take up to 7,500 litres of water to create a pair of jeans? Cotton is a thirsty plant to grow and because of this it can completely destroy the local eco system. 
            </p>
            <p>
                With this in mind we decided to create patchwork jeans using only second hand and vintage denim. By turning unwanted denim into funky new pieces we are saving denim from landfill aswell as preventing the need for new denim to be made, it's a win all round! 
            </p>
        </div>
    </div>
</div>

{% endblock %}
