{% extends 'base.html' %}

{% block content %}

<div class="overlay"></div>
    <div class="contact-page-container container">
        <div class="content-section custom-form-outer-container">
            <h1 class="default-page-header">Delete Message</h1>
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <h2 class="my-3 mx-5 text-center">Are you sure you want to delete your message?</h2>
                </fieldset>
                <div class="form-group" id="contact-delete-button-container">
                    <!-- DELETES THE CONTACT MESSAGE -->
                    <button class="btn btn-danger" id="message-delete-button" type="submit">Yes, I'm sure</button>
                    <!-- RETURNS TO MESSAGE DETAILS PAGE -->
                    <a class="btn black-button" href="{% url 'contact-update' object.id %}">No, go back</a>
                </div>
            </form>
        </div>
    </div>

{% endblock %}